global
    stats socket ipv4@*:9999 level admin
    stats timeout 10s

defaults
   timeout connect 5s
   timeout client 1m
   timeout server 1m

frontend stats
   bind *:1936
   mode http
   stats uri /
   stats show-legends
   no log

frontend fe
   bind *:8080
   timeout client 60s
   default_backend be_lb

backend be_lb
    balance roundrobin{{range service "goapp"}}
    server {{.Node}} {{.Address}}:{{.Port}}
    {{end}}

